<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-veranstaltung-heading">Create or edit a Veranstaltung</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!veranstaltung.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="veranstaltung.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_archivierungsDatum">Archivierungs Datum</label>
                    <div class="d-flex">
                        <input id="field_archivierungsDatum" type="datetime-local" class="form-control" name="archivierungsDatum" [(ngModel)]="archivierungsDatum"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_erstellungsDatum">Erstellungs Datum</label>
                    <div class="d-flex">
                        <input id="field_erstellungsDatum" type="datetime-local" class="form-control" name="erstellungsDatum" [(ngModel)]="erstellungsDatum"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_freigegeben">Freigegeben</label>
                    <input type="checkbox" class="form-control" name="freigegeben" id="field_freigegeben"
                        [(ngModel)]="veranstaltung.freigegeben" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grusswort">Grusswort</label>
                    <input type="text" class="form-control" name="grusswort" id="field_grusswort"
                        [(ngModel)]="veranstaltung.grusswort" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="veranstaltung.name" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
